
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(205, 157, 157, 0.87);
  background-image: url(C:\Users\evier\Codepath\Flashcards\flashcards\src\assets\background-league.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

